# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [50]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [86]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [87]:
#clean up item_price column
#remove $ sign
chipo['item_price'] = list(map(lambda x: x.replace(x[0],''),chipo['item_price']))

#convert dtype to float
chipo['item_price'] = list(map(lambda x: float(x), chipo['item_price']))

#see how many products cost more than $10
#create df of only items over $10
expensive_chipo = chipo[chipo['item_price']>10]

#create list of unique item_names from this new df
num_expensive = len(set(list(expensive_chipo)))

print(str(num_expensive) + " products cost more than $10.")

5 products cost more than $10.

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [100]:
chipo_small = pd.DataFrame({'item_name': chipo['item_name'],
                            'item_price': chipo['item_price']})
chipo_small

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [101]:
chipo.sort_values(by = 'item_name', axis = 0, inplace = True)
chipo

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [121]:
chipo_sorted = chipo.sort_values(by = 'item_price', axis = 0, ascending = False).reset_index()
exp_quant = chipo_sorted.loc[0,'quantity']

print('The quantity of the most expensive item ordered was ' + str(exp_quant) + '.')

The quantity of the most expensive item ordered was 15.

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [126]:
chipo_VSB = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
num_VSB = chipo_VSB.quantity.sum()

print('A Veggie Salad Bowl was ordered ' + str(num_VSB) + ' times.')

A Veggie Salad Bowl was ordered 18 times.

### Step 9. How many times did someone order more than one Canned Soda?

In [127]:
chipo_soda = chipo[chipo['item_name'] == 'Canned Soda']
i = 0
for quant in chipo_soda['quantity']:
    if quant > 1:
        i+=1
        
print('Someone ordered more that one Canned Soda ' + str(i) + ' times.')

Someone ordered more that one Canned Soda 20 times.